body, html {
    margin: 0px 0px 20px 0px;
    padding: 0px;
    background-color: rgba(241, 241, 241, 1);
    font-family: arial;
    text-align: center;
}

#container {
    display: inline-block;
    margin:  0px auto;
    background-color: #ffffff;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: left;
}

input {
    max-width: 80px;
}

button {
    width:  100px;
    margin-top: 10px;
    padding: 6px 0px 6px 0px;
    font-weight: bold;
    color: #f4f4f4;
	-moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
	box-shadow: inset 0px 1px 0px 0px #f5978e;
	background-color: #f24537;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d02718;
}

button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color: #c62d1f;
    border-radius: 6px;
    border: 1px solid #810e05;
}

button:active {
	position: relative;
	top: 1px;
}