img {
    float: left;
    padding: 30px;
}

#site_title {
    height: 30px;
    padding: 40px 30px 5px 50px;
    font-weight: bold;
    font-size: 125%;
}

#tile_name {
    height: 30px;
    padding: 5px 30px 20px 60px;
}