#login {
    position: relative;
    width:  400px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px auto;
    padding: 0px;
    background-color: #ffffff;
    border:  1px solid grey;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#login_header {
    padding: 6px 15px;
    margin: 0px;
    color: #f4f4f4;
    text-align: left;
    font-weight: bold;
    font-stretch: semi-expanded;
	text-shadow: 1px 1px 0px #500000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}

#login img {
    float: left;
    margin: 25px 20px 20px 20px;
}

form {
    padding: 20px;
}

.input_row {
    min-height: 20px;
    margin-bottom: 20px;
}

.input_row label {
    float: left;
    text-align: left;
}

.input_row input {
    float: right;
}

#login_table button {
    margin:  20px 0px 20px 0px;
}

#login_message {
    margin: 0px 0px 5px 20px;
    text-align: left;
}