/******* General ********/

body, html {
    height: 100%;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    background-color: rgba(241, 241, 241, 1);
    font-family: arial;
    text-align: center;
}

#container {
    display: inline-block;
    margin:  0px auto;
    background-color: #ffffff;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: left;
}

input {
    max-width: 80px;
    -mox-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

input:read-only {
    background-color: #f4f4f4;
}

button {
    width:  100px;
    margin-bottom: 5px;
    padding: 6px 0px 6px 0px;
    font-weight: bold;
    color: #f4f4f4;
    text-shadow: 1px 1px 0px #500000;
	-moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
	box-shadow: inset 0px 1px 0px 0px #f5978e;
	background-color: #f24537;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d02718;
}

button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
	background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
	background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
	background-color: #c62d1f;
    border-radius: 6px;
    border: 1px solid #810e05;
}

button:active {
	position: relative;
	top: 1px;
}

.center {
    text-align: center;
}

/******* Login ********/

#login_wrapper {
    position: relative;
    width: 400px; 
    height:  100%;
    margin: 0px auto;
}

#login {
    position: absolute;
    width:  400px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0px auto;
    padding: 0px;
    background-color: #ffffff;
    border:  1px solid grey;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px; 
    border-radius: 15px;
}

#login_header {
    padding: 6px 15px;
    margin: 0px;
    color: #f4f4f4;
    text-align: left;
    font-weight: bold;
    font-stretch: semi-expanded;
	text-shadow: 1px 1px 0px #500000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}

#login img {
    float: left;
    margin: 25px 20px 20px 20px;
}

form {
    padding: 20px;
}

.input_row {
    min-height: 20px;
    margin-bottom: 20px;
}

.input_row label {
    float: left;
    text-align: left;
}

.input_row input {
    float: right;
}

#login_table button {
    margin:  20px 0px 20px 0px;
}

#login_message {
    margin: 0px 0px 5px 20px;
    text-align: left;
}

/******* Header ********/

header table {
    width: 100%;
    overflow: hidden;
}

#ormax_logo {
    margin: 20px 20px 20px 50px;
}

h1 {
    padding: 0px 0px 10px 0px;
    font-weight: bold;
    font-size: 125%;
}

select {
    margin-bottom: 20px;
    font-weight: bold;
}

#tile_image {
    padding: 0px;
    text-align:  right;
}

#tile_image img {
    max-width: 350px;
    margin: 0px -10px -5px 0px;
    overflow: hidden;
}

#logged_in_header td {
    padding: 0px;
    background-color: #c62d1f;
    border-bottom: 1px solid grey;
}

#logged_in_header img {
    max-height: 18px;
    margin: 0px 0px -4px 0px;
}

#logout a {
    float: right;
    max-height: 18px;
    padding: 2px 10px 1px 10px;
    text-decoration: none;
    font-size: 80%;
    color: #efefef;
    border-left: 1px solid grey;
    background-color: #CC4235;
}

#logout a:hover {
    color: #7A2820;
    background-color: #f04b4b; 
}

#logged_in_header.krauta td {
    background-color: #e6e6e6;
}

#logged_in_header.krauta #logout a {
    color: #202020;
    background-color: #A1A1A1;
}

#logged_in_header.krauta #logout a:hover {
    color: #363636;
    background-color: #BDBDBD;
}

#logged_in_header.rautia td {
    background-color: #00599e;
}
    
#logged_in_header.rautia #logout a {
    color: #CCD7E3;
    background-color: #003E6F;
}

#logged_in_header.rautia #logout a:hover {
    color: #003E6F;
    background-color: #4d8bbb;
}

#logged_in_header.puukeskus td {
    background-color: #ffdd00;
}

#logged_in_header.puukeskus #logout a {
    color: #94B3A5;
    background-color: #004a2a;
}

#logged_in_header.puukeskus #logout a:hover {
    color: #004a2a;
    background-color: #66927F;
}

#logged_in_header.byggmax td {
    background-color: #ffe716;
}

#logged_in_header.byggmax #logout a {
    color: 	#FAEAE9;
    background-color: #cf2a1f;
}

#logged_in_header.byggmax #logout a:hover {
    color: #ffee5c;
    background-color: #911D16;
}

#logged_in_header.rautanet td {
    background-color: #004fa1;
}

#logged_in_header.rautanet #logout a {
    color: #CCD7E3;
    background-color: #003771;
}

#logged_in_header.rautanet #logout a:hover {
    color: #003771;
    background-color: #4d84bd;
}

#logged_in_header.srauta td
 {
    background-color: #ffffff;
}

#logged_in_header.srauta #logout a {
    color: #f3f3f3;
    background-color: #077f48;
}

#logged_in_header.srauta #logout a:hover {
    color: #077f48;
    background-color: #f39612;
}

#logged_in_header.kodinterra td
 {
    background-color: #007948;
}

#logged_in_header.kodinterra #logout a {
    color: #f3f3f3;
    background-color: #005532;
}

#logged_in_header.kodinterra #logout a:hover {
    color: #005532;
    background-color: #4DA17F;
}

/******* Main Table ********/

table {
    vertical-align: middle;
    border-collapse: collapse;
}

th {
    padding: 15px 20px 15px 20px; 
    border-left: 1px solid #c62d1f;
    border-right: 1px solid #c62d1f;
    text-align: center;  
    color: #f4f4f4;
    font-stretch: semi-expanded;
	text-shadow: 1px 1px 0px #500000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
}

.A, .E, .F, .G {
  display: none;  
}

.product_cat {
    padding: 10px 20px 2px 20px;
    vertical-align: bottom;
    font-weight: bold;
    border-right: 1px solid grey;
}

.product {
    padding:  0px 5px 0px 5px;
    white-space: nowrap;
    border-top: 1px dashed #ebebeb;
    border-bottom: 1px dashed #ebebeb;   
}

.product.B {
    padding-left: 30px;
}

td.D {
    min-width: 80px;
    padding-right: 20px;
    text-align: right;
}

#last_row {
    font-weight: bold;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px 0px #dcdcdc;
}

#last_row > td {
    padding: 10px 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dcdcdc), color-stop(1, #f6f6f6));
	background: -moz-linear-gradient(top, #dcdcdc 5%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #dcdcdc 5%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #dcdcdc 5%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #dcdcdc 5%, #f6f6f6 100%);
	background: linear-gradient(to bottom, #dcdcdc 5%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#f6f6f6',GradientType=0);  
}

#last_row > td.D {
    padding-right: 25px;
}

.H {
    border-left: 1px solid grey;
}

/******* Side Area ********/

#side_area {
    vertical-align: top;
}

#side_area table {
    width:  300px;
    margin: 0px 20px 30px 20px;
    padding: 0px;
    border-collapse: separate;
    border-spacing: 0px;
    border:  1px solid grey;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

#side_area th {
    padding: 6px 15px;
    margin: 0px;
    text-align: left;
}

#side_area th:first-child {
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}

#side_area th:last-child {
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
}

#side_area td {
    padding: 5px 20px;
}

#discount_table td {
    padding: 20px 20px 20px 20px;
}

#discount {
    min-width: 100px;
    margin-right: 10px;
}

#delivery_cost_table tr:nth-child(6) > * {
    padding-top: 20px;
}

#delivery_cost_table tr:nth-child(2) > * {
    padding: 10px 0px 10px 15px;
    vertical-align: middle;
    font-size: 85%;
}

#total_cost_table td {
    padding: 20px 20px;
    font-weight: bold;
    text-align: center;
}

#total_cost_table .alv_row {
    padding:  2px 20px 2px 20px;
    background-color: #e8e8e8;
    font-size: 75%;
    border-bottom: 1px dashed grey;
    text-align: left;
}

#total_cost_table tr:nth-child(4) > * {
    border-top: 1px dashed grey;
}

[data-cell='H4'], [data-cell='H6'] {
    border-left: 1px solid grey;
}

/******* Footer ********/

footer {
    width: 100%;
    padding: 10px 0px;
    font-size: 70%;    
    border-top: 1px solid grey;
    background: #c9c9c9;
    background: -moz-linear-gradient(top,  #969696 0%,#c9c9c9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#c9c9c9));
    background: -webkit-linear-gradient(top,  #969696 0%,#c9c9c9 100%);
    background: -o-linear-gradient(top,  #969696 0%,#c9c9c9 100%);
    background: -ms-linear-gradient(top,  #969696 0%,#c9c9c9 100%);
    background: linear-gradient(to bottom,  #969696 0%,#c9c9c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#969696', endColorstr='#c9c9c9',GradientType=0 );
}

footer td {
    padding: 5px 40px;
    vertical-align: top;
}

footer a {
    color: #3f3f3f;
    text-decoration: none;
}

footer a:hover {
    color: #ae1f1f;
    text-decoration: underline;
}